<%- include("parts/head_2gis.ejs") %> <%- include("parts/menu.ejs") %>


<div class="container">
  <div class="col-md-8">
    <div id="map" style="width: 100%; height: 450px"></div>
    <!-- <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5439.045375230899!2d82.91574706397559!3d55.01837178450737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42dfe42d0e761f3b%3A0x816dc17b339fdc8e!2z0YPQuy4g0JvQtdC90LjQvdCwLCAyMS8xINC60L7RgNC_0YPRgSAxLCDQndC-0LLQvtGB0LjQsdC40YDRgdC6LCDQndC-0LLQvtGB0LjQsdC40YDRgdC60LDRjyDQvtCx0LsuLCA2MzAwMDQ!5e0!3m2!1sru!2sru!4v1549004977921"
      width="100%"
      height="450"
      frameborder="0"
      style="border: 0"
      allowfullscreen
    ></iframe> -->
  </div>
  <div class="col-md-4">
    <table class="table table-hover table-borderless">
      <tr>
        <td>Новосибирск, ул. Фабричная 10 к16</td>
      </tr>
      <tr>
        <td>Телефон: 8-800-101-28-91</td>
      </tr>
      <tr>
        <td>Телефон: + 7 (383) 212-41-97</td>
      </tr>
      <tr>
        <td>Телефон: + 7 (383) 212-41-98</td>
      </tr>
      <tr>
        <td>
          По вопросам заключения договоров на доставку:
          <a href="mailto:sales@svs-logistik.ru">sales@svs-logistik.ru </a>
        </td>
      </tr>
      <tr>
        <td>
          По вопросам, связанным с осуществлением доставки и общим вопросам:
          <a href="mailto:info@svs-logistik.ru">info@svs-logistik.ru</a>
        </td>
      </tr>
    </table>
  </div>
  <script type="text/javascript">
    var map;

    DG.then(function () {
      map = DG.map("map", {
        center: [55.018092, 82.916294],
        zoom: 17,
      });
      DG.marker([55.018319, 82.916135]).addTo(map);
    });
  </script>
</div>

<%- include("parts/footer.ejs") %>
