<%- include("parts/head.ejs") %>

<!--Loader Section-->
<div class="loader loader-bg">
  <div class="loader-inner ball-clip-rotate-pulse">
    <div></div>
    <div></div>
  </div>
</div>
<!--Intro Section-->
<section class="intro">
  <div class="container-fluid">
    <%- include("parts/menu.ejs") %>
    <div class="banner-caption text-center">
      <h1>Быстро и надежно</h1>
      <p>Быстрая доставка любых грузов.
        Индивидуальный подход к каждому клиенту.</p>
      <div class="action-box"><a href="/requestdelivery" class="btn btn-default">Вызвать курьера</a><a href="/calc" class="btn btn-transparent">Рассчитать тариф</a><a href="/track" class="btn btn-transparent">Отследить по номеру</a><a href="#quest" class="btn btn-transparent">Задать вопрос</a></div>
    </div>
  </div>
</section>

<section class="quick-services">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <img src="/public/img/feature-01.jpg" class="img-responsive">
          <h2>Авиаперевозки</h2>
          <p>Авиаперевозки по России и миру существляются пассажирскими и грузовыми авиарейсами. Срок доставки от 1 дня.</p>
          <a href="/avia">Подробнее...</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <img src="/public/img/feature-02.jpg"  class="img-responsive">
          <h2>Терморежим</h2>
          <p>СВС-Логистик осуществляет доставку различных грузов с соблюдением требуемого температурного режима. </p>
          <a href="/term">Подробнее...</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="box text-center">
          <img src="/public/img/feature-03.jpg" class="img-responsive">
          <h2>Сборные грузы</h2>
          <p>Доставка Авто и ЖД транспортом Ваших грузов в любых направлениях по выгодным ценам за короткий срок.</p>
          <a href="cargo">Подробнее...</a>
        </div>
      </div>
    </div>
    <div class="row secondary-content">
      <h2 class="text-center">Ваш экперт по доставке <small> С 2015 года компания СВС-Логистик успешно предоставляет услуги срочной курьерской доставки по России как для физических, так и для юридических лиц.</small> </h2>
      <div class="col-md-5 col-md-offset-1">
        <ul>
          <li>Индивидуальный подход к ценообразованию</li>
          <li>Персональный менеджер</li>
          <li>Перевозка опасных и терморежимных грузов</li>
          <li>Функциональный личный кабинет</li>
        </ul>
      </div>
      <div class="col-md-5">
        <blockquote>
          <p>СВС-Логистик непрерывно совершенствует качество оказываемых услуг и информационных сервисов, оценивая портебности клиентов. </p><p>Наши тарифы позволят Вам получить отличные качество и срок доставки по оптимальным ценам.</p>
        </blockquote>
      </div>
    </div>

  </div>
</section>

<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>Миссия компании</h2>
        <p>В нашей работе мы стремимся помогать людям делать их жизнь лучше.</p>
        <p>Основной приоритет в нашей работе - это открытость в отношениях с клиентом, желание решить задачи клиента. Наш опыт помогает нам удволетворять даже самые сложные нестандартные потребности клиентов в сфере экспресс доставки.</p>
        <!--<a href="#" class="btn btn-transparent">Explore More</a>-->
      </div>
      <div class="col-md-6 pull-right image-sec">
        <img src="/public/img/about-banner.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</section>


<section class="accordion-sec">
  <div class="container">
    <h2 class="text-center">Почему СВС-Логистик?
      <small>Сотрудничая с Нами Вам не придется переживать о сохранности груза и о своевременности выполнения доставки. Доверяя работу нам Вы можете быть уверены: все будет выполнено качествено и в срок.</small></h2>
    <div class="row">
      <div class="col-md-6 accordion-box col-md-offset-1">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Упаковка грузов<span class="pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                СВС-Логистик производит любую необходимую упаковку грузв для сохранности во время перевозки, учитывая особенности грузов. Для хрупких, опасных или терморежимных грузов у нас есть подходящее решение, чтобы доставить груз, не повредив его.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Строгая конфедециальность<span class="pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                СВС-Логистик ценит своих клиентов и их собственность, в том числе информационную. Мы гарантируем нераспространение информации о грузах, отправителях и получателях третьим лицам.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Сохранность грузов<span class="pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                При перевозке грузов СВС-Логистик несет полную материальную ответственность за сохранность груза от порчи, повреждения или хищения с момента получения до момента доставки груза.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 panel-box pull">
        <div class="panel panel-default">
          <div class="panel-body">
            <i class="fa fa-shield" aria-hidden="true"></i>
            <h4>Безопасность</h4>
            <p>Всё застраховано</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <i class="fa fa-money" aria-hidden="true"></i>
            <h4>Экономичность</h4>
            <p>Гибкие цены</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <i class="fa fa-life-ring" aria-hidden="true"></i>
            <h4>Поддержка 24/7</h4>
            <p>Мы всегда на связи</p>
          </div>
        </div>
      </div>
    </div>
  </div><a name="quest"></a>
</section>


<section class="form-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 testimonial-container">
        <h2 class="text-center">Отзывы клиентов</h2>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">

              <!-- <div class="profile-circle text-center"><img class="img-circle" src="img/client-01.jpg"></div> -->
              <div class="profile-circle text-center"></div>
              <blockquote>
                <p><em>"Спасибо Светлане за отзывчивость и оперативность! Доставили с Владивостока вещи вовремя , все было четко в работе курьера и менеджера. Буду обращаться ещё ! Успехов))"</em></p>
                <!-- <footer>Someone famous in Source Title</footer> -->
              </blockquote>

            </div>
            <div class="item">
              <div class="profile-circle text-center"></div>
              <blockquote>
                <p><em>"Наша компания ООО "Геосити" стала сотрудничать с СВС-Логистик не так давно, но хочу сразу отметить работа поставлена на высоком, профессиональном уровне. Огромное спасибо руководителю Андрею за индивидуальный подход, за решение нестандартных задач - этими качествами Вы решили нашу ситуацию с доставкой!!! Надеемся на дальнейшее сотрудничество!! Благодарим Вас и всю Вашу команду!!! Процветания и успехов!!!!"</em></p>
                <!-- <footer>Someone famous in Source Title</footer> -->
              </blockquote>

            </div>
            <div class="item">
              <div class="profile-circle text-center"></div>
              <blockquote>
                <p><em>"Пользуемся услугами СВС-Логистик около 5-ти месяцев. И могу сказать только положительные отзывы, начиная с менеджера Александра, который всегда ответит на все вопросы, доходчиво объяснит и поднимет настроение. Так же, хочу отметить работу курьеров, обязательно позвонят предупредят, что едут и через сколько они будут. Бывало порой забуду, что нужно оформить заявку, а менеджер или курьер сами поинтересуются нужна ли нам заявка в этот день, что определенно выручало. Когда мне позвонил менеджер с предложением сотрудничать, я отнеслась скептически, но потом промониторила прайсы на услуги данной компании и других, увидела довольно таки большую разницу. Заинтересовались. И решили попробовать поработать, и не чуть не ошиблась. Вообщем, говорить могу много и только хорошее, хочется только пожелать успехов в работе ребятам, и так держать!:)"</em></p>
                <!-- <footer>Someone famous in Source Title</footer> -->
              </blockquote>

            </div>
          </div>
        </div>

      </div>

      <div class="col-md-5 pull-right">

        <form class="form-box">
          <h3  class="text-center">Задайте Ваш вопрос </h3>

          <div class="form-group">
            <div class="col-md-12">
              <input type="text" class="form-control" id="reName" placeholder="Имя">

            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <input type="text" class="form-control" id="reEmail" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <input type="text" class="form-control" id="rePhone" placeholder="Номер телефона">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <input type="text" class="form-control" id="reCompany" placeholder="Организация">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <textarea rows="3" class="form-control" id="reQuest" placeholder="Ваш вопрос"></textarea>
            </div>
          </div>
          <!-- <div class="form-group">
           <div class="col-md-12">
             <select class="form-control">
               <option>Select Location</option>
               <option>option 2</option>
               <option>option 3</option>
               <option>option 4</option>
             </select>
           </div>
         </div>
         <div class="form-group">
           <div class="col-md-12">
             <select class="form-control">
               <option>Select Type</option>
               <option>option 2</option>
               <option>option 3</option>
               <option>option 4</option>
             </select>
           </div>
         </div>-->

         <div class="form-group">
           <div class="col-md-12">
             <button type="button" id="reSend" class="btn btn-lg btn-success btn-block">Отправить</button>
           </div>
         </div>
          <div class="form-group">
            <div class="col-md-12">
              <h4 id="sended"></h4>
            </div>
          </div>
       </form>
     </div>
   </div>
 </div>
</section>
<%- include("parts/footer.ejs") %>