<%- include("parts/head.ejs") %> <%- include("parts/menu.ejs") %>
<div class="loader loader-bg">
  <div class="loader-inner ball-clip-rotate-pulse">
    <div></div>
    <div></div>
  </div>
</div>

<div class="container">
  <a download href="/public/docs/requisites.pdf" class="btn">Скачать PDF</a>
  <p>ООО «СВС-Логистик»</p>

  <p>
    Полное наименование: Общество с ограниченной ответственностью «СВС-Логистик»
  </p>
  <p>
    Адрес местонахождения (юридический): 630017, Новосибирская область, г.
    Новосибирск, ул. Воинская, д. 9, офис 1/1
  </p>
  <p>Почтовый адрес (фактический): Г. Новосибирск ул. Фабричная 10 к16</p>
  <p>Телефон:(383) 212-41-97, 212-41-98, 8-800-101-2891</p>
  <p>ИНН: 5409001588</p>
  <p>КПП: 540501001</p>
  <p>Расчетный счет: 40702810123000003489</p>
  <p>Банк: Филиал «Новосибирский» АО «АЛЬФА-БАНК» г. Новосибирск</p>
  <p>Бик:045004774</p>
  <p>Корсчет:30101810600000000774</p>
  <p>Руководитель: Директор Шадрин Артём Александрович</p>
</div>
<br />

<%- include("parts/footer.ejs") %>
