<%- include("parts/head.ejs") %>
<%- include("parts/menu.ejs") %>
<div class="loader loader-bg">
    <div class="loader-inner ball-clip-rotate-pulse">
        <div></div>
        <div></div>
    </div>
</div>

<div class="container">
   
</div>
<br>

<div class="container">
   Привет
</div>

<script src="/public/js/citys.js" type="text/javascript"></script>
<div class="container">
    <p id="result"></p>
</div>

<%- include("parts/footer.ejs") %>