<%- include("parts/head.ejs") %>
<%- include("parts/menu.ejs") %>
<div class="loader loader-bg">
    <div class="loader-inner ball-clip-rotate-pulse">
        <div></div>
        <div></div>
    </div>
</div>

<div class="container">
   
</div>

<div class="container">
        <div class="input-group">
            <input id="trackInput" type="text" class="form-control" placeholder="Поиск">
            <div class="input-group-btn">
                <button id="trackbutton" class="btn btn-default" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>

</div>
<br>
<div class="container">
<table class="table table-bordered table-content" >

    <tbody id="result">
    </tbody>
</table>


</div>

<%- include("parts/footer.ejs") %>