<!DOCTYPE html>
<html>
  <head>
    <title>СВС Логистик</title>
  </head>
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/custom-style.css" />
  <!--Loader Style -->
  <link rel="stylesheet" type="text/css" href="/public/css/loaders.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/jquery-ui.min.css" />
  <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>

  <body>
    <div class="wrapper">
      <div class="content">
